#
# Normal rules
#

.*
*.o
*.o.*
*.a
*.s
*.ko
*.so
*.so.dbg
*.orig
*~
\#*#

*.mod.c
*.ko
modules.order
Module.symvers
/apps/cit
/apps/citin
/apps/ddflash
/apps/ddtest
/apps/flashprog
/apps/modt
/apps/pls
/apps/setmod
/apps/setmod2
/apps/setmod3

